.sidebar {
    flex: 2.5;
    height: 100vh;
}

/* .sidebarWrapper {
    padding: 15px;
} */

.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 20px 38px;
    cursor: pointer;
    box-shadow: -4px -1px 5px 4px #565656;
    border-radius: 24px;
}

.sidebarListItem:hover {
    box-shadow: none;
    transform: translateY(5px);
    transition: all 0.3s;
}

.sidebarIcon {
    font-size: 25px !important;
    margin-right: 5px;
}

.sidebarListItemText {
    font-size: 18px;
    padding-top: 5px;
    padding-left: 25px;
    text-align: center;
}

.sidebarHr {
    margin: 10px 0;
}

.sidebarFriendImg {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
}

.sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}